# Class 1


Installing Python 3.6:
The best way to install python is by installing Anaconda. It will not only install python, but also a bunch of supporting tools and libraries.

* Instructions for [installing on Windows](https://medium.com/@GalarnykMichael/install-python-on-windows-anaconda-c63c7c3d1444)
* Instructions for [installing on MacOS](https://www.anaconda.com/download/#macos)

## Learn Python in 60 minutes

### Comments
```
# Single line comments start with a number symbol.

"""
Multiline strings can be written
using three "s, and are often used
as comments
"""
```

In [1]:
"""
Multiline strings can be written
using three "s, and are often used
as comments
"""

'\nMultiline strings can be written\nusing three "s, and are often used\nas comments\n'

## Datatypes and Operators

You have numbers
```
3  # => 3
```

Math is what you would expect
```
1 + 1  # => 2
8 - 1  # => 7
10 * 2  # => 20
35 / 5  # => 7.0

11 / 4  # => 2.75  ...normal division
11 // 4  # => 2 ...floored division


```

2


Modulo operation

```
7 % 3  # => 1
```

Exponentiation (x to the yth power)

```
2 ** 4  # => 16
```

Enforce precedence with parentheses
```
(1 + 3) * 2  # => 8
```

7

## Boolean Operators

Note "and" and "or" are case-sensitive

```
True and False  # => False
False or True  # => True
```

Note using Bool operators with ints
```
0 and 2  # => 0
-5 or 0  # => -5
0 == False  # => True
2 == True  # => False
1 == True  # => True
```

<class 'str'>

str

Negate with *not*
```
not True  # => False
not False  # => True
```

Equality is *==*
```
1 == 1  # => True
2 == 1  # => False
```

Inequality is *!=*
```
1 != 1  # => False
2 != 1  # => True
```

More comparisons
```
1 < 10  # => True
1 > 10  # => False
2 <= 2  # => True
2 >= 2  # => True
```

True

Comparisons can be chained!
```
1 < 2 < 3  # => True
2 < 3 < 2  # => False
```

True

## Strings
Strings are created with " or '

```
"This is a string."
'This is also a string.'
```

Strings can be added too!
```
"Hello " + "world!"  # => "Hello world!"

```
... or multiplied
```
"Hello" * 3  # => "HelloHelloHello"
```

In [129]:
"Hello" * 3

'HelloHelloHello'

A string can be treated like a list of characters
```
"This is a string"[0]  # => 'T'
```

You can find the length of a string
```
len("This is a string")  # => 16
```

'e'

#### String Formating

This method is the preferred way
```
print("{} is a {}".format("This", "placeholder"))
print("{0} can be {1}".format("strings", "formatted"))
```

You can use keywords if you don't want to count.
```
print("{name} wants to eat {food}".format(name="Bob", food="lasagna"))
```

NameError: ignored

## Nothing here ---- None

None is an object

```None  # => None```

Don't use the equality "==" symbol to compare objects to None
Use "is" instead
```
"etc" is None  # => False
None is None  # => True
```

The 'is' operator tests for object identity. This isn't very useful when dealing with primitive values, but is very useful when dealing with objects.

Any object can be used in a Boolean context.
The following values are considered falsey:
* None
* zero of any numeric type (e.g., 0, 0L, 0.0, 0j)
* empty sequences (e.g., '', (), [])
* empty containers (e.g., {}, set())
* instances of user-defined classes meeting certain conditions

see: https://docs.python.org/2/reference/datamodel.html#object.__nonzero__


All other values are truthy (using the bool() function on them returns True).

```
bool(0)  # => False
bool("")  # => False
```

## Variables and Collections

```
some_var = 5  # Convention is to use lower_case_with_underscores
some_var  # => 5
```

In [ ]:
# Accessing a previously unassigned variable is an exception.
# See Control Flow to learn more about exception handling.
some_other_var  # Raises a name error

### Lists

Lists store sequences
```
li = []
# You can start with a prefilled list
other_li = [4, 5, 6]

```

Add stuff to the end of a list with append
```
li.append(1)  # li is now [1]
li.append(2)  # li is now [1, 2]
li.append(4)  # li is now [1, 2, 4]
li.append(3)  # li is now [1, 2, 4, 3]
```
Remove from the end with pop
```
li.pop()  # => 3 and li is now [1, 2, 4]
```

Let's put it back
```
li.append(3)  # li is now [1, 2, 4, 3] again.
```

[1, 2, 4, 3]

#### List Indexing
Access a list like you would any array

```
li[0]  # => 1
```
Assign new values to indexes that have already been initialized with =
```
li[0] = 42
li[0]  # => 42
li[0] = 1  # Note: setting it back to the original value
```
Look at the last element
```
li[-1]  # => 3
```

In [ ]:
# Looking out of bounds is an IndexError
li[4]  # Raises an IndexError

#### List Slicing
You can look at ranges with slice syntax.
(It's a closed/open range for you mathy types.)
```
li[1:3]  # => [2, 4]
```
Omit the beginning
```
li[2:]  # => [4, 3]
```
Omit the end
```
li[:3]  # => [1, 2, 4]
```
Select every second entry
```
li[::2]  # =>[1, 4]
```
Reverse a copy of the list
```
li[::-1]  # => [3, 4, 2, 1]
```
Use any combination of these to make advanced slices
```
li[start:end:step]
print(li)
li[::-1]

a= [1,2,3] + [5,4,3]
```

[1, 2, 4, 3]

Concatenate lists with "extend()"
```
a = [1,2,3]
b = [4,5,6]
a.extend(b)
```

#### Test Membership in List

In [ ]:
1 in li

In [ ]:
# Examine the length with "len()"
len(li)  # => 6

### Tuples

Tuples are like lists but are immutable.
```
tup = (1, 2, 3)
tup[0]  # => 1
tup[0] = 3  # Raises a TypeError
```

You can unpack tuples (or lists) into variables
```
a, b, c = (1, 2, 3)  # a is now 1, b is now 2 and c is now 3
d, e, f = 4, 5, 6  # you can leave out the parentheses
```

Tuples are created by default if you leave out the parentheses
```
g = 4, 5, 6  # => (4, 5, 6)
```
Now look how easy it is to swap two values
```
e, d = d, e  # d is now 5 and e is now 4
```

### Dictionaries

Dictionaries store mappings
```
empty_dict = {}
```
Here is a prefilled dictionary
```
filled_dict = {"one": 1, "two": 2, "three": 3}
filled_dict
```

{'one': 1, 'three': 3, 'two': 2}

In [ ]:
filled_dict["one"]

In [ ]:
# Get all keys as a list with "keys()"
filled_dict.keys()

In [ ]:
# Get all values as a list with "values()"
filled_dict.values()  # => [3, 2, 1]

In [ ]:
# Get all key-value pairs as a list of tuples with "items()"
filled_dict.items()  # => [("one", 1), ("two", 2), ("three", 3)]

#### Test Membership in Dictionaries

In [ ]:
#Check for existence of keys in a dictionary with "in"
"one" in filled_dict  # => True
1 in filled_dict  # => False

In [ ]:
# Looking up a non-existing key is a KeyError
filled_dict["four"]  # KeyError

In [ ]:
# Use "get()" method to avoid the KeyError
filled_dict.get("one")  # => 1
filled_dict.get("four")  # => None

In [ ]:
# The get method supports a default argument when the value is missing
filled_dict.get("one", 4)  # => 1
filled_dict.get("four", 4)  # => 4

### Sets
Sets store ... well sets (which are like lists but can contain no duplicates)

In [ ]:
empty_set = set()
# Initialize a "set()" with a bunch of values
some_set = set([1, 2, 2, 3, 4])  # some_set is now set([1, 2, 3, 4])
some_set

In [ ]:
# order is not guaranteed, even though it may sometimes look sorted
another_set = set([4, 3, 2, 2, 1])  # another_set is now set([1, 2, 3, 4])
another_set

In [ ]:
# Since Python 2.7, {} can be used to declare a set
filled_set = {1, 2, 2, 3, 4}  # => {1, 2, 3, 4}

# Add more items to a set
filled_set.add(5)  # filled_set is now {1, 2, 3, 4, 5}

#### Set Intersection, Union, Difference, Symmetric Difference

Do set union with |
```
a_set = {3, 4, 5, 6}
b_set = {8, 9, 5, 6}
a_set & b_set  # => {5, 6}

```

Do set difference with -

```
{1, 2, 3, 4} - {2, 3, 5}  # => {1, 4}
```


Do set symmetric difference with ^

```
{1, 2, 3, 4} ^ {2, 3, 5}  # => {1, 4, 5}
```


Check if set on the left is a superset of set on the right

```
{1, 2} >= {1, 2, 3}  # => False
```


Check if set on the left is a subset of set on the right

```
{1, 2} <= {1, 2, 3}  # => True
```

#### Test Existence in Sets

Check for existence in a set with in
```
2 in filled_set  # => True
10 in filled_set  # => False
10 not in filled_set # => True
```

## Control Flow

### `If` Statements

Here is an if statement. Indentation is significant in python!
prints "some_var is smaller than 10"
```
some_var = 5

if some_var > 10:
    print("some_var is totally bigger than 10.")
elif some_var < 10:  # This elif clause is optional.
    print("some_var is smaller than 10.")
else:  # This is optional too.
    print("some_var is indeed 10.")
 ```

### `For` Loops
For loops iterate over lists
prints:
    dog is a mammal
    cat is a mammal
    mouse is a mammal

```
for animal in ["dog", "cat", "mouse"]:
    # You can use {0} to interpolate formatted strings. (See above.)
    print("{0} is a mammal".format(animal))
```

### `Range` Function

"range(number)" returns a list of numbersfrom zero to the given number

prints:
    0
    1
    2
    3
```
for i in range(4):
    print i
```

"range(lower, upper)" returns a list of numbers from the lower number to the upper number

prints:
    4
    5
    6
    7
```
for i in range(4, 8):
    print i
```

### `While` Loops

While loops go until a condition is no longer met.

prints:
    0
    1
    2
    3
```
x = 0
while x < 4:
    print x
    x += 1  # Shorthand for x = x + 1
```

### List Comprehensions
List comprehensions are basically writing for loops in one line.

This becomes very useful as it makes your code succint.

It is important not to get carried away using them though. Some developers tend to cram too much code into one line. 

**Example 1**

Calculate the square of every number in a given list of numbers and assign the resulting list to a a new variable.

```
given_list = [1,2,3,4,5]

# Old way of doing this.
new_list = []
for x in given_list:
        square = x*x
        new_list.append(square)

print("Squared values",new_list)

# Can achieve the same thing using list comprehensions.

new_list = [x*x for x in given_list]
print("Squared values",new_list)


```

**Example 2**

Given a list of numbers, create a new list of numbers containing only even numbers

```
given_list = [1,2,3,4,5]

# Old way of doing this.
even_numbers = []
for x in given_list:
        if x % 2 == 0:
                even_numbers.append(x)

print("Even Numbers",even_numbers)

# Can achieve the same thing using list comprehensions.

even_numbers = [x for x in given_list if x%2==0]
print("Even Numbers",even_numbers)


```


You can learn more about [list comprehensions here.](https://www.pythonforbeginners.com/basics/list-comprehensions-in-python)

## Exception Hangling
```
try:
    # Use "raise" to raise an error
    raise IndexError("This is an index error")
except IndexError as e:
    pass  # Pass is just a no-op. Usually you would do recovery here.
except (TypeError, NameError):
    pass  # Multiple exceptions can be handled together, if required.
else:  # Optional clause to the try/except block. Must follow all except blocks
    print "All good!"  # Runs only if the code in try raises no exceptions
finally:  # Execute under all circumstances
    print "We can clean up resources here"
    
```

In [ ]:
print("hey")

## Functions

Use "def" to create new functions. 

Functions can be used to create **`reuable parameterized code`**.

```
def add(x, y):
    print "x is {0} and y is {1}".format(x, y)
    return x + y  # Return values with a return statement
    
    ```
    
Calling functions with parameters

```add(5, 6)  # => prints out "x is 5 and y is 6" and returns 11```

Another way to call functions is with keyword arguments. They are also called `named arguments.`


```add(y=6, x=5)  # Keyword arguments can arrive in any order.```

#### Variable Arguments to Functions

You can define functions that take a variable number of positional args, which will be interpreted as a tuple by using *
```
def varargs(*args):
    return args


varargs(1, 2, 3)  # => (1, 2, 3)
```

You can define functions that take a variable number of keyword args, as well, which will be interpreted as a dict by using **
```
def keyword_args(**kwargs):
    return kwargs
```

Let's call it to see what happens
```
keyword_args(big="foot", loch="ness")  # => {"big": "foot", "loch": "ness"}
```

You can do both at once, if you like
```
def all_the_args(*args, **kwargs):
    print args
    print kwargs
```

When calling functions, you can do the opposite of args/kwargs!

Use * to expand positional args and use ** to expand keyword args.
```
args = (1, 2, 3, 4)
kwargs = {"a": 3, "b": 4}

all_the_args(*args)  # equivalent to all_the_args(1, 2, 3, 4)
all_the_args(**kwargs)  # equivalent to all_the_args(a=3, b=4)
all_the_args(*args, **kwargs)  # equivalent to all_the_args(1, 2, 3, 4, a=3, b=4)

```

####  Function Scope

```
x = 5
def set_x(num):
    # Local var x not the same as global variable x
    x = num  # => 43
    print(x)  # => 43

def set_global_x(num):
    global x
    print(x)  # => 5
    x = num  # global var x is now set to 6
    print(x)  # => 6


set_x(43)
set_global_x(6)
```

#### Lambda Functions
There are also anonymous functions.

Most 

```
(lambda x: x > 2)(3)  # => True
(lambda x, y: x ** 2 + y ** 2)(2, 1)  # => 5
```
You can learn more about lambda functions [here.](https://medium.com/@happymishra66/lambda-map-and-filter-in-python-4935f248593)

In [ ]:
my_func = lambda x: x > 2
my_func(3)

#### Advanced Lambda Functions

There are built-in higher order functions
```
map(add_10, [1, 2, 3])  # => [11, 12, 13]
map(max, [1, 2, 3], [4, 2, 1])  # => [4, 2, 3]

filter(lambda x: x > 5, [3, 4, 5, 6, 7])  # => [6, 7]
```
We can use list comprehensions for nice maps and filters
```
[add_10(i) for i in [1, 2, 3]]  # => [11, 12, 13]
[x for x in [3, 4, 5, 6, 7] if x > 5]  # => [6, 7]

```

You can construct set and dict comprehensions as well.
```
{x for x in 'abcddeef' if x in 'abc'}  # => {'a', 'b', 'c'}
{x: x ** 2 for x in range(5)}  # => {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
```

## Modules And Packages

Modules and Packages are a way to organize python code.

A [module](https://docs.python.org/3/tutorial/modules.html) is a single file (or files) that are imported under one import and used. e.g.

```
import my_module
```

A [package](http://www.network-theory.co.uk/docs/pytut/Packages.html) is a collection of modules in directories that give a package hierarchy.

```
from my_package.timing.danger.internets import function_of_love
```

### Reading and Writing Files
```
print(a)
```



### `Math` module

You can import modules
import math
```
print math.sqrt(16)  # => 4
```

You can get specific functions from a module
```
from math import ceil, floor

print ceil(3.7)  # => 4.0
print floor(3.7)  # => 3.0
```

You can import all functions from a module. **Warning: this is not recommended**
```
from math import *
```

You can shorten module names
```
import math as m

math.sqrt(16) == m.sqrt(16)  # => True
```

you can also test that the functions are equivalent
```
from math import sqrt

math.sqrt == m.sqrt == sqrt  # => True
```
Python modules are just ordinary python files. You
can write your own, and import them. The name of the
module is the same as the name of the file.

You can find out which functions and attributes defines a module.

```
import math

dir(math)
```

### `Json` module

### `Collections` module